.hero__image_container{
    background: url('../images/group-11.png') no-repeat right;
    background-size: cover;
    height: 568px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    .wrapper{
        position: absolute;
        top:50%;
        left:0;
        right:0;
        transform: translateY(-50%);
        div{
            max-width: 444px;
        }
        h1{
            font-size: 44px;
            line-height: 1.14;
            font-weight: 400;
        }
        p{
            margin: 21px 0 43px;
            font-size: 14px;
            color: #6a7c92;
            line-height: 1.71;
            
        }
        .hero__image_para{
            margin: 0 0 10px;
        }
    }
    @media screen and (max-width: 1100px){
        background-color: #ebf4fa;
        background-image: none;
        .wrapper{
            div{
                max-width: 100%;
                text-align: center;
            }
            p{
                margin-bottom: 0;
            }
            .hero__image_para{
                margin-bottom: 40px;
            }
        }
    }
    @media screen and (max-width: 500px) {
        div{
            h1{
                font-size: 30px;
            }
        }
    }
}
button{
    background-color: $btn-clr;
    font-size: 14px;
    color: #fff;
    padding: 21px 37px;
    outline: none;
    border: 1px solid #23c0f5;
    border-radius: 2px;
    cursor:pointer;
    transition: all 0.5s linear;
    &:hover{
        color: $btn-clr;
        background-color: #fff;
        border: 1px solid #fff;
    }
} 