@font-face{
    font-family:Open_Sans;
    src:url("../fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');
    font-weight:400;   
}
@font-face{
    font-family:Open_Sans;
    src:url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format('truetype');
    font-weight:600;   
} 
